<div class="post">
  <div class="post-heading">
    <div class="post-title">
      {{p.subject}}
    </div>

    <div class="post-date">
      {{p.created.strftime("%b %d, %Y")}}
    </div>
  </div>

  <div class="post-content">
    {{p._render_text | safe}}
  </div>
<!--  
  <div class="post__like">
        <a href="/{{p.key().id()}}/like">
            <img class="like__icon" src="/static/images/like.svg" alt="">
        </a>
        <span class="like__count">{{p.likes}}</span>
    </div>

</div>
-->